$body-overflow-y: auto;

$navbar-height: 3.5rem;

$dashboard-margin: 10px;
$dashboard-total-margin: 20px;

$section-border-color: #dbdbdb;
$section-border-radius: 4px;
section {
  box-shadow: 0 0 0 1px $section-border-color;
  &.section--1 {
    border-radius: $section-border-radius;
  }
  &.section--2 {
    border-radius: 0 0 $section-border-radius $section-border-radius;
  }
}

.success {
  color: green;
}
.fail {
  color: red;
}
.fail--hover {
  &:hover {
    span {
      color: red;
      pointer-events: auto;
    }
  }
}